@import './sass/colors';
@import './sass/mixins';
@import './sass/fonts';

html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #7a827d;
  box-sizing: border-box;
  overflow: hidden;
}

a {
  text-decoration: none;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header {
  z-index: 10;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  background-color: #1D1E22;
  margin: 0;
  padding: 0;
  color: #fff;
  font-family: $font-header;
  font-size: 2rem;
  img {
    margin-bottom: -2em;
  }
}

nav {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  justify-content: space-around;
  font-family: $font-primary;
  align-items: flex-end;
  background-color: #4c5b51;
  margin: 0;
  padding: 0;
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      display: inline-block;
      a {
        display: block;
        text-decoration: none;
        padding: 0.5em;
        color: #fff;
      }
    }
  }
}

.slider {
  min-height: 20em;
  background-color: transparent;
  background-position: center;
  background-image: url('http://bridgehunter.com/photos/11/51/115134-L.jpg');
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  position: relative;
  color: #fff;
}

footer {
  display: flex;
  flex-direction: row;
  color: #fff;
}
